<!DOCTYPE html>
<html>
  <head>
    <title>Has Bakhmut Fallen?</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Change font */
        background-color: #fff;
        margin: 0;
        padding: 0;
        display: flex; /* Add display flex */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
      }
      h1 {
        font-size: 120pt;
        text-align: center;
        margin: 0;
        font-weight: bold;
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>NO</h1>
  </body>
</html>
